<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.0.xsd">
    
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/restrict/corretot/**" access="hasRole('ROLE_ADMIM')" />
        <intercept-url pattern="/restrict/cliente/**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/restrict/seguro/**" access="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN') " />
        <intercept-url pattern="/restrict/*" access="hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/login.htm" access="permitAll"/>
        <intercept-url pattern="/public/**" access="permitAll"/>
        <form-login login-page="/login.htm" 
                    authentication-failure-url="/login.htm?erro"
                    default-target-url="/restrict/home.htm"/>
    </http>
    
    <!-- NO PROJETO SEMERU PADRÃO FIZEMOS DESSA FORMA -->  
    <authentication-manager>
        <authentication-provider>
<!--            <password-encoder hash="sha"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="SELECT Usuario, Senha, 'true' as enable FROM pessoa WHERE Usuario=?"
                               authorities-by-username-query="SELECT Usuario as username, Permissao as authority FROM pessoa WHERE Usuario=?"/>-->
            <user-service>
                <user name = "admin" password = "admin" authorities = "ROLE_ADMIN"/>
                <user name  = "user" password = "user" authorities = "ROLE_USER"/>
                <user name  = "guest" password = "guest" authorities = "ROLE_GUEST"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
    <b:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <b:property name="url" value="jdbc:mysql://localhost:3306/corretora_db" />
        <b:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <b:property name="username" value="root" />
        <b:property name="password" value="root" />
    </b:bean>
    
    <b:bean id="roleVoter"
            class="org.springframework.security.access.vote.RoleHierarchyVoter">
        <b:constructor-arg>
            <b:bean id="roleHierarchy" 
               class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
                <b:property name="hierarchy">
                    <b:value>
                        ROLE_ADMIN > ROLE_USER
                        ROLE_USER > ROLE_GUEST
                    </b:value>
                </b:property>
            </b:bean>
        </b:constructor-arg>
    </b:bean>
</b:beans>
